<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="content_section_title"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <div class="content-menu">
        <a sec:authorize="isAuthenticated()">
            Witaj <b sec:authentication="name"></b>
        </a>
        <a href="/login" th:if="${!#request.isUserInRole('ADMIN') and !#request.isUserInRole('USER')}">
            <button class="rounded-buttons btn-success grey-color-of-button"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active-2nd-option':''}">
                Logowanie
            </button>
        </a>
        <a class="" href="/register" th:if="${!#request.isUserInRole('ADMIN') and !#request.isUserInRole('USER')}">
            <button class="rounded-buttons btn-success grey-color-of-button "
                    th:classappend="${#httpServletRequest.getRequestURI() == '/register' ? 'active-2nd-option':''}">
                Rejestracja
            </button>
        </a>
        <a class="" href="/logout" th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}">
            <button class="rounded-buttons btn-success grey-color-of-button">Wylogowanie</button>
        </a>
    </div>
    <br>
    <div class="col-sm text-center">
        <a href="/" class="font-weight-light content title-head ">
                Sklep Optyczny
        </a>
    </div>
</div>
