<div class="menu" xmlns:th="http://www.thymeleaf.org" th:fragment="menu_section"
>


    <div>
        <a href="/">
            <button class="w3-button w3-hover-black">Strona domowa</button>
        </a>
        <a href="/add-page" th:if="${#request.isUserInRole('ADMIN')}">
            <button class="w3-button w3-hover-black">Dodaj okulary</button>
        </a>
<!--        Sciaganie pliku wprost do konkretnego plik-->
<!--        <a href="/file/xls"  th:if="${#request.isUserInRole('ADMIN')}">-->
<!--            <button class="w3-button w3-hover-black">get XLS</button>-->
<!--        </a>-->

<!--        Sciaganie do przegladarki-->
        <a href="/api/v1/glasses/download/file/xls/glasses.xls"  th:if="${#request.isUserInRole('ADMIN')}">
            <button class="w3-button w3-hover-black">Ściągnij bazę okularów</button>
        </a>
        <a href="/logout" th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}">
            <button class="w3-button w3-hover-black">Wylogowanie</button>
        </a>
        <a href="/login" th:if="${!#request.isUserInRole('ADMIN') and !#request.isUserInRole('USER')}">
            <button class="w3-button w3-hover-black">Logowanie</button>
        </a>
    </div>
    <hr>

</div>
