<div class="menu" xmlns:th="http://www.thymeleaf.org" th:fragment="menu_section"
>


    <div>


        <a href="/">
            <button class="w3-button w3-hover-black" href="/">Strona domowa</button>
        </a>


        <!--        sec:authorize="isAuthenticated()"-->
        <!--        <div th:if="${#request.isUserInRole('ADMIN')}">-->
        <!--            <a th:href="@{/login}">Sign in</a>-->
        <!--        </div>-->
        <!--        <div sec:authorize="isAuthenticated()">-->

        <!--            <li><a th:href="@{/logout}">Logout</a></li>-->
        <!--        </div>-->

        <a href="/add-page" th:if="${#request.isUserInRole('ADMIN')}">
            <button class="w3-button w3-hover-black">Dodaj okulary</button>
        </a>

        <a href="/api/v1/planets/download/file/xls/planets.xls"  th:if="${#request.isUserInRole('ADMIN')}">
            <button class="w3-button w3-hover-black">get XLS</button>
        </a>

        <a href="/file/xls"  th:if="${#request.isUserInRole('ADMIN')}">
            <button class="w3-button w3-hover-black">get file</button>
        </a>

        <a href="/logout" th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('USER')}">
            <button class="w3-button w3-hover-black">Wylogowanie</button>
        </a>
        <a href="/login" th:if="${!#request.isUserInRole('ADMIN') and !#request.isUserInRole('USER')}">
            <button class="w3-button w3-hover-black">Logowanie</button>
        </a>


    </div>
    <hr>

</div>
