<div class="searching-menu" xmlns:th="http://www.thymeleaf.org" th:fragment="searching_menu_section">

    <div class="searching-title-font">
        Wyszukaj po numerze Id
    </div>
    <hr>

    <form th:action="@{/search}" action="/search" method="get">
        <input type="number" required number name="glassesNumber" placeholder="Numer id" class="form-control">
        <button type="submit" class="btn btn-success btn-sm form-control grey-color-of-button top-margin">
            <i> Szukaj</i>
        </button>
    </form>
    <br/>
    <div class="searching-title-font">
        Szukanie zaawansowane
    </div>
    <hr>
    <form th:action="@{/advanced-search}" action="/advanced-search" method="get">
        Typ
        <div class="form-row">
            <div class="">

                <!--                    <td>Wybierz Markę:</td>-->
                <td>
                    <select type="text" name="glassesType">
                        <option value="">--</option>
                        <option value="sunglasses">Przeciwsłoneczne</option>
                        <option value="eyeglasses">Korekcyjne</option>
                    </select>
                </td>
            </div>
        </div>
        Marka
        <div class="form-row">
            <div class="">

                <!--                    <td>Wybierz Markę:</td>-->
                <td>
                    <select type="text" name="glassesMarks">
                        <option value="">--</option>
                        <option th:each="m : ${marks}"
                                th:value="${m.getMark()}"
                                th:text="${m.getMark()}">
                        </option>
                    </select>
                </td>
            </div>
        </div>
        Kształt
        <div class="form-row">
            <div class="">

                <!--                    <td>Wybierz Kształt:</td>-->
                <td>
                    <select type="text" name="form">
                        <option value="">--</option>
                        <option th:each="m : ${forms}"
                                th:value="${m.getForm()}"
                                th:text="${m.getForm()}">
                        </option>
                    </select>
                </td>
            </div>
        </div>

        Płeć
        <div class="form-row">
            <div class="">
                <!--                        <input type="text" name="glassesGender" placeholder="Płeć" class="form-control">-->
                <input type="radio" name="glassesGender" value="Mężczyzna"> Mężczyzna<br>
                <input type="radio" name="glassesGender" value="Kobieta"> Kobieta<br>

            </div>
        </div>
        Polaryzacja
        <div class="form-row">
            <div class="">
                <input type="checkbox" name="polarization" value="TRUE"> Tak<br>
                <input type="checkbox" name="polarization" value="FALSE"> Nie<br>
            </div>
        </div>
        Szerokość minimalna
        <div class="form-row">
            <div class="">
                <input type="number" required name="widthOfTheLensLowerLimit" placeholder="Min" value="0"
                       class="form-control">
            </div>
        </div>
        Szerokość maksymalna
        <div class="form-row">
            <div class="">
                <input type="number" required name="widthOfTheLensUpperLimit" placeholder="Max" value="0"
                       class="form-control">
            </div>
        </div>
        Cena minimalna
        <div class="form-row">
            <div class="">
                <input type="number" required name="priceLowerLimit" placeholder="Min" value="0" class="form-control">
            </div>
        </div>
        Cena maksymalna
        <div class="form-row">
            <div class="">
                <input type="number" required name="priceUpperLimit" placeholder="Max" value="0" class="form-control">
            </div>
        </div>

        <div class="form-row">

            <div class="">
                <button type="submit" class="btn btn-success btn-sm form-control grey-color-of-button top-margin">
                    <i> Szukaj</i>
                </button>

            </div>
        </div>

    </form>


</div>
