<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>
<body>
<div th:replace="document/content :: content_section_title"></div>
<div class="row col-sm-10 col-md-10 form-group">
    <div class="col-sm-2 col-md-2 form-group border-between-rows">
        <div th:replace="document/account-menu :: account_menu"></div>
    </div>
    <div class="login-form border-between-rows">
        <div class="title-font">
            Zmiana hasła
        </div>
        <hr>
<!--        todo Wyświetlanie blędów i w ogole ich obsługa-->
        <form th:action="@{/password-change}" method="post">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="newPassword" placeholder="nowe hasło" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="newPasswordConfirmation" placeholder="potwierdzenie" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="oldPassword" placeholder="stare hasło" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm" style="color: white">Zmień</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>