<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="user_table">
    <div class="row">
        <div class="col-sm">
            <table class="table" style="color: white; background-color: black; opacity: 0.7; border-radius: 10px">
                <tr class="active">
                    <th>
                    </th>
                    <th>
                        <a th:href="@{${#httpServletRequest.requestURI}(searchingBy=glassesNumber, ascending=${ascending})}" class="white-href-text">
                            Numer zamówieniowy
                        </a>
                    </th>
                    <th>
                        <a th:href="@{${#httpServletRequest.requestURI}(searchingBy=glassesType, ascending=${ascending})}" class="white-href-text">
                            Typ
                        </a>
                    </th>
                    <th>
                        <a th:href="@{${#httpServletRequest.requestURI}(searchingBy=glassesMarks, ascending=${ascending})}" class="white-href-text">
                            Marka
                        </a>
                    </th>
                    <th>
                        <a th:href="@{${#httpServletRequest.requestURI}(searchingBy=form, ascending=${ascending})}" class="white-href-text">
                            Kształt
                        </a>
                    </th>
                    <th>
                        <a th:href="@{${#httpServletRequest.requestURI}(searchingBy=glassesGender, ascending=${ascending})}" class="white-href-text">
                            Płeć
                        </a>
                    </th>
                    <th>
                        <a th:href="@{${#httpServletRequest.requestURI}(searchingBy=polarization, ascending=${ascending})}" class="white-href-text">
                            Polaryzacja
                        </a>
                    </th>
                    <th>
                        <a th:href="@{${#httpServletRequest.requestURI}(searchingBy=widthOfTheLens, ascending=${ascending})}" class="white-href-text">
                            Szerokość
                        </a>
                    </th>
                    <th>
                        <a th:href="@{${#httpServletRequest.requestURI}(searchingBy=price, ascending=${ascending})}" class="white-href-text">
                            Cena
                        </a>
                    </th>
                    <th th:if="${#request.isUserInRole('ADMIN')}">Edytuj</th>
                    <th th:if="${#request.isUserInRole('ADMIN')}">Usuń</th>
                </tr>
                <tr th:each="p : ${glasses}">
                    <td><img th:src="@{${p.getGlassesImage()}}" style="width: 100px"></td>
                    <td th:text="${#numbers.formatInteger(p.getGlassesNumber(), 1)}"></td>
                    <td th:text="${p.getGlassesType()}"></td>
                    <td th:text="${p.getGlassesMarks()}"></td>
                    <td th:text="${p.getForm()}"></td>
                    <td th:text="${p.getGlassesGender()}"></td>
                    <td th:text="${p.getPolarization()} ? 'Tak' : 'Nie'"></td>
                    <td th:text="${#numbers.formatInteger(p.getWidthOfTheLens(), 1)} + mm"></td>
                    <td th:text="${#numbers.formatDecimal(p.getPrice(), 1,2, 'POINT')} + zl">
                    <td th:if="${#request.isUserInRole('ADMIN')}">

                        <form action="/update-glasses" method="get">
                            <input type="hidden" th:value="${p.getId()}" name="id">
                            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </form>
                    </td>
                    <td th:if="${#request.isUserInRole('ADMIN')}">
                        <form action="/delete" method="get">
                            <input type="hidden" th:value="${p.getId()}" name="id">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
