<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>

<body>

<div th:replace="document/content :: content_section_title"></div>


<div class="row col-sm-10 col-md-10 form-group">
    <div class="col-sm-2 col-md-2 form-group border-between-rows">
        <div th:replace="document/account-menu :: account_menu"></div>
    </div>
    <div class="container col-sm-8 col-md-8 form-group">
        <div class="row">
            <div class="col-10 col-md-10 col-sm-10">
                <form th:object="${companies_adresses}" th:action="@{${action}}" method="post" class="w3-container">
                    <div class="form-row col-sm-10 col-md-8 form-group">
                        Nazwa firmy
                        <input th:field="*{companyName}" type="text" required name="companyName"
                               placeholder="Pełna nazwa firmy"
                               class="form-control w3-input">
                    </div>
                    Numer NIP
                    <div class="form-row col-sm-10 col-md-8 form-group">
                        <input th:field="*{nipNumber}" type="number" required name="nipNumber" placeholder="NIP"
                               class="form-control w3-input">
                    </div>
                    <div class="form-row col-sm-5 col-md-5 form-group">
                        <input th:field="*{city}" type="text" required name="city" placeholder="Miasto"
                               class="form-control w3-input">
                    </div>
                    Kod pocztowy
                    <div class="form-row col-sm-2 col-md-2  form-group">
                        <input th:field="*{zipCode}" type="text" required name="zipCode" placeholder="Kod-pocztowy"
                               class="form-control w3-input">
                    </div>
                    Ulica
                    <div class="form-row col-sm-8 col-md-8 form-group">
                        <input th:field="*{street}" type="text" required name="street" placeholder="Ulica:"
                               class="form-control">
                    </div>
                    Numer Domu
                    <div class="form-row col-sm-4 col-md-4 form-group">
                        <input th:field="*{apartmentNumber}" type="text" required name="apartmentNumber"
                               placeholder="Nr domu/nr lokalu"
                               class="form-control">
                    </div>
                    <input type="hidden" th:field="*{id}" name="id">

                    <div class="form-row">
                        <div class="col-sm-10 col-md-10 form-group">
                            <button type="submit" class="btn btn-success btn-sm form-control">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-2 form-group border-between-rows">
    </div>
</div>
</body>

</html>





