<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>

<body>

<div th:replace="document/content :: content_section_title"></div>
<div th:replace="document/menu :: menu_section"></div>
<div th:replace="document/tables/forms_table :: forms_table"></div>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-12 col-sm-12">
            <form th:action="@{/addforms}" action="/addforms" th:object="${FormDto}" method="post">
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 form-group">
                        <input type="text" required name="form" placeholder="nazwa kształtu" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 form-group">
                        <button type="submit" class="btn btn-success btn-sm form-control">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
</body>

</html>
