<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="document/head :: head_section">
</head>
<body>
<div th:replace="document/content :: content_section_title"></div>
<div th:replace="document/menu :: menu_section"></div>
<div class="row">
    <div class="col-sm-2 col-md-2 form-group">
        <div th:replace="document/account-menu :: account_menu"></div>
    </div>
    <div class="col-sm-8 col-md-8 form-group">
        <div class="title-font">




            Moje zamówienia
        </div>
        <hr>
        Jeszcze nic nie kupiłeś w naszym sklepie. Zapraszamy na zakupy!
    </div>
</div>


</body>
</html>