<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>

<body>

<div th:replace="document/content :: content_section_title"></div>

<div th:replace="document/menu :: menu_section"></div>

<div class="row">

    <div class="col-sm-2 col-md-2 form-group">



        <div th:replace="document/account-menu :: account_menu"></div>
    </div>
    <!-- TUTAJ WSTAWIC TRESC -->
    <div class="col-sm-8 col-md-8 form-group">
<div class="title-font">
        Adresy dostaw
</div>
        <hr>

        <div th:replace="document/tables/adresses_table :: adresses_table"></div>

        <div class="col-sm-2 col-md-2 form-group">
        <form th:action="@{/add-adress}" action="/add-adress" method="get">
            <button type="submit" class="btn btn-success btn-sm form-control">
                <i> Dodaj nowy adres</i>
            </button>
        </form>
        </div>
    </div>
</div>


</body>
</html>


<!--<div th:replace="document/menu :: menu_section"></div>-->

<!--<div class="row">-->

<!--    <div class="col-sm-2 col-md-2 form-group">-->
<!--        &lt;!&ndash;        TUTAJ MENU UZYTKOWNIKA WSTAWIC&ndash;&gt;-->
<!--        <div th:replace="document/account-menu :: account_menu"></div>-->
<!--    </div>-->
<!--    &lt;!&ndash; TUTAJ WSTAWIC TRESC &ndash;&gt;-->
<!--    <div class="col-sm-10 col-md-10 form-group">-->
<!--        <div th:replace="document/tables/user_table :: user_table"></div>-->
<!--    </div>-->
<!--</div>-->
