<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>

<body>

<div th:replace="document/content :: content_section_title"></div>
<div th:replace="document/menu :: menu_section"></div>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-12 col-sm-12">
            <form th:action="@{/add}" action="/add" method="post">


                Numer id
                <div class="form-row">
                    <div class="col-sm-12 col-md-8 form-group">
                        <input type="number" required name="glassesNumber"  placeholder="Numer id" class="form-control">
                    </div>
                </div>
                Zdjecie
                <div class="form-row">
                    <div class="col-sm-12 col-md-8 form-group">
                        <input type="text" required name="glassesImage" placeholder="link" class="form-control">
                    </div>
                </div>
                Typ
                <div class="form-row">
                    <div class="col-sm-12 col-md-6 form-group">
                        <input type="radio" required name="glassesType" value="Przeciwsłoneczne">Przeciwsłoneczne<br>
                        <input type="radio" required name="glassesType" value="Korekcyjne">Korekcyjne<br>
                    </div>
                </div>
                Marka
                <div class="form-row" th:if="${glasses != null}">
                    <div class="col-sm-12 col-md-6 form-group">

                        <td>Wybierz Markę:</td>
                        <td>
                            <select type="text" name="glassesMarks" required>
                                <option value="">--</option>
                                <option th:each="m : ${marks}"
                                        th:value="${m.getMark()}"
                                        th:text="${m.getMark()}">
                                </option>
                            </select>
                        </td>
                        <td> <a href="/add-marks">zarządzaj bazą marek</a></td>
                    </div>
                </div>
                Kształt
                <div class="form-row">
                    <div class="col-sm-12 col-md-6 form-group">

                        <td>Wybierz Kształt:</td>
                        <td>
                            <select type="text" name="form" required>
                                <option value="">--</option>
                                <option th:each="m : ${forms}"
                                        th:value="${m.getForm()}"
                                        th:text="${m.getForm()}">
                                </option>
                            </select>
                        </td>
                        <td> <a href="/add-forms">zarządzaj bazą kształtów</a></td>
                    </div>
                </div>


                Płeć
                <div class="form-row">
                    <div class="col-sm-12 col-md-6 form-group">
                        <!--                        <input type="text" name="glassesGender" placeholder="Płeć" class="form-control">-->
                        <input type="radio" required  name="glassesGender" value="Mężczyzna">Mężczyzna<br>
                        <input type="radio" required name="glassesGender" value="Kobieta">Kobieta<br>

                    </div>
                </div>
                Polaryzacja
                <div class="form-row">
                    <div class="col-sm-12 col-md-6 form-group">
                        <input type="checkbox" name="polarization" th:checked="${flag}">
                    </div>
                </div>
                Szerokość
                <div class="form-row">
                    <div class="col-sm-12 col-md-8 form-group">
                        <input type="number" required name="widthOfTheLens" placeholder="Szerokość" class="form-control">
                    </div>
                </div>
                Cena
                <div class="form-row">
                    <div class="col-sm-12 col-md-8 form-group">
                        <input type="number" required name="price" placeholder="Cena" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 form-group">
                        <button type="submit" class="btn btn-success btn-sm form-control">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>
</body>

</html>
