<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>

<body>

<span><a href="swagger-ui.html">swagger documentation</a> |
    <a href="/">home</a> | <a href="/add-page">
        <i class="fa fa-plus-square" aria-hidden="true"></i>add glasses
    </a> | <a href="/logout">logout</a> | <a href="/file/xls">get planets XLS</a>
    | <a href="/api/v1/planets/download/file/xls/planets.xls">get planets file</a>
</span>

<div th:replace="document/content :: content_section_title"></div>
<div th:replace="document/tables/user_table :: user_table"></div>

</body>
</html>