<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>

<body>
<!--<a href="swagger-ui.html">swagger documentation</a> |-->
<div th:replace="document/content :: content_section_title"></div>

<div th:replace="document/menu :: menu_section"></div>

<div class="row">

    <div th:replace="document/searching-menu :: searching_menu_section"></div>

<!--    <div class="searching col-sm-15 col-md-2 form-group">-->
<!--        Wyszukaj po numerze Id-->
<!--        <hr>-->


<!--        <form th:action="@{/search}" action="/search" method="get">-->
<!--            <input type="number" name="glassesNumber" placeholder="Numer id" value="0" class="form-control">-->
<!--            <button type="submit" class="btn btn-success btn-sm form-control">-->
<!--                <i> Szukaj</i>-->
<!--            </button>-->
<!--        </form>-->

<!--        <br/>-->

<!--        Szukanie zaawansowane-->
<!--        <hr>-->
<!--        <form th:action="@{/advanced-search}" action="/advanced-search" method="get">-->

<!--            Typ-->
<!--&lt;!&ndash;            <div class="form-row">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-sm-12 col-md-12 form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="checkbox" name="glassesType" value="Przeciwsłoneczne">Przeciwsłoneczne<br>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="checkbox" name="glassesType" value="Korekcyjne">Korekcyjne<br>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <div class="form-row" th:if="${glasses != null}">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->

<!--                    &lt;!&ndash;                    <td>Wybierz Markę:</td>&ndash;&gt;-->
<!--                    <td>-->
<!--                        <select type="text" name="glassesType">-->
<!--                            <option value="">&#45;&#45;</option>-->
<!--                            <option value="Przeciwsłoneczne">Przeciwsłoneczne</option>-->
<!--                            <option value="Korekcyjne">Korekcyjne</option>-->
<!--                        </select>-->
<!--                    </td>-->
<!--                </div>-->
<!--            </div>-->
<!--            Marka-->
<!--            <div class="form-row" th:if="${glasses != null}">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->

<!--                    &lt;!&ndash;                    <td>Wybierz Markę:</td>&ndash;&gt;-->
<!--                    <td>-->
<!--                        <select type="text" name="glassesMarks">-->
<!--                            <option value="">&#45;&#45;</option>-->
<!--                            <option th:each="m : ${marks}"-->
<!--                                    th:value="${m.getMark()}"-->
<!--                                    th:text="${m.getMark()}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </td>-->
<!--                </div>-->
<!--            </div>-->
<!--            Kształt-->
<!--            <div class="form-row">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->

<!--                    &lt;!&ndash;                    <td>Wybierz Kształt:</td>&ndash;&gt;-->
<!--                    <td>-->
<!--                        <select type="text" name="form">-->
<!--                            <option value="">&#45;&#45;</option>-->
<!--                            <option th:each="m : ${forms}"-->
<!--                                    th:value="${m.getForm()}"-->
<!--                                    th:text="${m.getForm()}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </td>-->
<!--                </div>-->
<!--            </div>-->

<!--            Płeć-->
<!--            <div class="form-row">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->
<!--                    &lt;!&ndash;                        <input type="text" name="glassesGender" placeholder="Płeć" class="form-control">&ndash;&gt;-->
<!--                    <input type="radio" name="glassesGender" value="Mężczyzna">Mężczyzna<br>-->
<!--                    <input type="radio" name="glassesGender" value="Kobieta">Kobieta<br>-->

<!--                </div>-->
<!--            </div>-->
<!--            Polaryzacja-->
<!--            <div class="form-row">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->
<!--                    <input type="checkbox" name="polarization" value="TRUE"> Tak<br>-->
<!--                    <input type="checkbox" name="polarization" value="FALSE"> Nie<br>-->
<!--                </div>-->
<!--            </div>-->
<!--            Szerokość minimalna-->
<!--            <div class="form-row">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->
<!--                    <input type="number" name="widthOfTheLensLowerLimit" placeholder="Min" value="0" class="form-control">-->
<!--                </div>-->
<!--            </div>-->
<!--            Szerokość maksymalna-->
<!--            <div class="form-row">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->
<!--                    <input type="number" name="widthOfTheLensUpperLimit" placeholder="Max" value="0" class="form-control">-->
<!--                </div>-->
<!--            </div>-->
<!--            Cena minimalna-->
<!--            <div class="form-row">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->
<!--                    <input type="number" name="priceLowerLimit" placeholder="Min" value="0" class="form-control">-->
<!--                </div>-->
<!--            </div>-->
<!--            Cena maksymalna-->
<!--            <div class="form-row">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->
<!--                    <input type="number" name="priceUpperLimit" placeholder="Max" value="0" class="form-control">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-row">-->
<!--                <div class="col-sm-12 col-md-12 form-group">-->
<!--                    <button type="submit" class="btn btn-success btn-sm form-control">-->
<!--                        <i> Szukaj</i>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->

<!--        </form>-->

<!--    </div>-->


    <div class="col-sm-15 col-md-15 form-group">
        <div th:replace="document/tables/user_table :: user_table"></div>
    </div>
</div>

</body>
</html>