<!DOCTYPE html>
<http lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="document/head :: head_section">

    </head>

    <body>

    <div th:replace="document/content :: content_section_title"></div>

    <div th:replace="document/menu :: menu_section"></div>

    <div class="row">
        <div class="col-sm-2 col-md-2 form-group">
            <div th:replace="document/searching-menu :: searching_menu_section"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="login-form">


                    <form th:action="@{/signin}" method="post">

                        <div th:text="${message}" th:class="success"></div>


                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="username" placeholder="login" required="required"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" name="password" placeholder="password" required="required"/>
                            </div>
                        </div>

                        <div th:text="${loginErrorMessage}" class="error">>asdasd</div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-sm" style="color: white">login</button>
                        </div>
                    </form>
                    | <a href="/register">sign up</a>
                </div>
            </div>
        </div>
    </div>
    </body>
</http>
