<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head :: head_section"></head>

<body>

<div th:replace="document/content :: content_section_title"></div>
<div th:replace="document/menu :: menu_section"></div>


<div class="row">

    <div class="col-sm-2 col-md-2 form-group">
        <div th:replace="document/account-menu :: account_menu"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-10 col-md-10 col-sm-10">
                <form th:action="@{/update-companies-adresses}" action="/add" method="post">

                    Nazwa firmy
                    <div class="form-row col-sm-10 col-md-8 form-group">
                        <input type="text" required name="companyName" th:value="${companies_adresses.getCompanyName()}"
                               class="form-control w3-input">
                    </div>

                    Nip
                    <div class="form-row col-sm-10 col-md-8 form-group">
                        <input type="number" required name="nipNumber" th:value="${companies_adresses.getNipNumber()}" class="form-control w3-input" >
                    </div>

                    Miasto
                    <div class="form-row col-sm-5 col-md-5 form-group">
                        <input type="text" required name="city" th:value="${companies_adresses.getCity()}"
                               class="form-control w3-input">
                    </div>

                    Kod-pocztowy
                    <div class="form-row col-sm-2 col-md-2  form-group">
                        <input type="text" required name="zipCode" th:value="${companies_adresses.getZipCode()}"
                               class="form-control w3-input">
                    </div>

                    Ulica
                    <div class="form-row col-sm-8 col-md-8 form-group">
                        <input type="text" required name="street" th:value="${companies_adresses.getStreet()}" class="form-control">
                    </div>

                    Numer mieszkania
                    <div class="form-row col-sm-4 col-md-4 form-group">
                        <input type="text" required name="apartmentNumber" th:value="${companies_adresses.getApartmentNumber()}"
                               class="form-control">
                    </div>


                    <input type="hidden" th:value="${companies_adresses.getId()}" name="id">

                    <div class="form-row">
                        <div class="col-sm-10 col-md-10 form-group">
                            <button type="submit" class="btn btn-success btn-sm form-control">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
</body>

</html>





